{
  "mt5": {
    "account": "YOUR_MT5_ACCOUNT_NUMBER",
    "password": "YOUR_MT5_PASSWORD",
    "server": "Exness-Demo"
  },
  "binance": {
    "api_key": "YOUR_BINANCE_API_KEY",
    "api_secret": "YOUR_BINANCE_API_SECRET"
  },
  "bitget": {
    "api_key": "YOUR_BITGET_API_KEY",
    "api_secret": "YOUR_BITGET_API_SECRET",
    "passphrase": "YOUR_BITGET_PASSPHRASE"
  }
}
